body {
    background-color: #333;
    margin: 0;
    padding: 0;
}
p {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #3591D9;
    padding: 12px 16px;
    border: 1px solid #000000;
    border-radius: 36px;
    max-width: 800px;
    width: fit-content;
    margin: 0;
    font-size: 2.5rem;
    text-align: center;
    text-rendering: optimizeLegibility;
    word-break: break-word;
    z-index: 1;
}
code {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #F05DD2;
    padding: 8px 16px;
    border: 1px solid #000000;
    border-radius: 32px;
    font-weight: 800;
    font-size: 2.5rem;
    z-index: 100;
    -webkit-text-stroke: 1px black;
}
div {
    font-family: Arial, sans-serif;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
    padding: 5px 0px;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    background-color: #f9f9f900;
}
#Chat {
    position: fixed;
    background-color: #0000;
    font-size: 0%;
    bottom: 0px;
    padding-right: 0px;
    margin-right: 0px;
}
img {
    vertical-align: middle;
    margin: 0px;
    width: 48px;
    height: 48px;
}
.BigImg img {
    vertical-align: middle;
    margin: 0px;
    width: 96px;
    height: 96px;
}
.chat-badge {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin-right: 2px;
    margin-bottom: 8px;
}
.message {
    margin-bottom: -100px;
    margin-top: 140px;
    transition: margin-bottom 0.5s ease-out;
}
.mover {
    margin-bottom: 10px;
    margin-top: 10px;
}

.msgIcon {
    --size: 60px;
    vertical-align: middle;
    width: var(--size);
    height: var(--size);
    margin: 2px;
    margin-top: 7px;
    translate: -10px 35px;
    transform: scale(1.5, 1.5) rotate(10deg);
    z-index: 1;
    filter: blur(0.15px);
}
.msgContent {
    display: flex;
    align-items: flex-start;
    max-width: calc(400px + var(--size));
    margin-left: 15px;
    margin-top: -12.5px;
    margin-bottom: -35px;
    margin-right: 0px;
    padding: 0;
    z-index: 1;
}
.chatMsg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}